<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010403205282-20m1cs5bkrt7krpo4irqn9ebbii5i1bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010403205282-20m1cs5bkrt7krpo4irqn9ebbii5i1bl</string>
	<key>API_KEY</key>
	<string>AIzaSyBlf4o7rwnp2aoRNLJLvLfzMAgcxtIEECU</string>
	<key>GCM_SENDER_ID</key>
	<string>1010403205282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.david072.schoolApp</string>
	<key>PROJECT_ID</key>
	<string>school-app-3bd33</string>
	<key>STORAGE_BUCKET</key>
	<string>school-app-3bd33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010403205282:ios:1e1cee98cd43d642f237fb</string>
</dict>
</plist>